<div class="elementWrapper">
    <div class="lineAndShapes">
        <p class="title">Line and Shapes</p>
        <div class="lineAndShapes__elements" >
            <span class="circle"></span>
            <span class="square"></span>
            <span class="triangle"></span>
        </div>
    </div>
    <div class="icons">
        <p class="title">Icons</p>
        <div class="icons__elements">
            <img src="assets/smile.svg" alt="smile-ico">
            <img src="assets/ballon.svg" alt="ballon-ico">
            <img src="assets/basket.svg" alt="basket-ico">
        </div>
    </div>
    <div class="tablesAndDiagrams">
        <p class="title">Tables and Diagrams</p>
    </div>
</div>
